.App {
  text-align: center;
  display: flex;
}

.messageBlock {
  border: 1px solid rgb(42, 114, 223);
  margin-top: 2px;
}

.userBlock {
  border: 1px solid rgb(42, 114, 223);
  margin-top: 2px;
  background: #a3b0ec;
}

.MessageBox {
  width: 40%;
  display: inline-block;
  height: 900px;
  overflow: auto;
}
.UsersBlock {
  width: 40%;
  display: inline-block;
  margin-left: 5%;
  height: 900px;
  overflow: auto;
}
