body {
  background-color: #202020;
}

.App {
  text-align: center;
  display: flex;
}

.messageBlock {
  border: 1px solid #a3b0ec;
  margin-top: 2px;
  border-radius: 20px;
}

.userBlock {
  border: 1px solid rgb(42, 114, 223);
  margin-top: 2px;
  background: #a3b0ec;
  border-radius: 20px;
  width: 200px;
  opacity: 0.8;
}

.adminUserBlock {
  border: 1px solid rgb(42, 114, 223);
  margin-top: 2px;
  background: #a3b0ec;
  border-radius: 20px;
  width: 200px;
  opacity: 0.8;
}

.MessageBox {
  border: 1px solid #a3b0ec;
  border-radius: 20px;
  color: #a3b0ec;
  margin-top: 2%;
  margin-left: 5%;
  width: 40%;
  display: inline-block;
  height: 810px;
  overflow: auto;
}

.UsersBlock {
  color: #202020;
  width: 30%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 2%;
  height: 400px;
  overflow: auto;
}

.AllUsersBlock {
  margin-top: 2%;
  display: inline-block;
  margin-left: 5%;
  height: 400px;
  margin-right: 1%;
}

.messageForm {
  margin-top: 2%;
  margin-left: 1%;
}

input {
  font-size: medium;
  border-radius: 10px;
  height: 40px;
}
button {
  font-size: medium;
  border-radius: 5px;
}

.author {
  font-size: small;
}

.msgsCtntUsr {
  background-color: #dcec7f;
  margin-top: 1%;
  border-radius: 20px;
  opacity: 0.6;
  color: black;
  margin-left: 20%;
  margin-right: 2%;
  border: 1px solid #dcec7f;
}

.msgsOthrUsrs {
  background-color: #ee944b;
  border: 1px solid #ee944b;
  border-radius: 20px;
  opacity: 0.6;
  color: black;
  margin-right: 20%;
  margin-left: 2%;
  margin-top: 1%;
}

p {
  opacity: 1;
}
